:root {
	--orange-color: #ff6c26;
	--grey-color: #4B4B4B;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif/*"Raleway"*/
	;
}


/*					MOBILE DESIGN
----------------------------------------------------*/


/*					HEADER & BANNER
----------------------------------------------------*/

header {
	/*background-image: url('img/persona7-1.jpg');*/
	background-image: url("img/background.jpg");
	background-size: cover;
	background-position: 70% 50%;
	background-repeat: no-repeat;
}

nav {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

#logo {
	text-align: center;
}


/* Logo rotates when hovering */

#logo>img {
	transform: rotate(180deg);
	transition: transform 1s;
}

#logo>img:hover {
	transform: rotate(360deg);
}


/* Navigation links */

nav>ul {
	display: none;
	/*Does not show on mobile*/
}

.greeting {
	margin-top: 15%;
	margin-left: 5%;
}

.introduction {
	display: block;
}

h1 {
	margin: 0;
	color: white;
}


/* The 'Welkom' */

.greeting>h1>span:first-child {
	margin: 0;
	color: var(--orange-color);
}

.subtitle {
	color: white;
	font-size: 14px;
	margin-top: 0;
	font-weight: 300;
}

.btn-container {
	margin-left: 5%;
	margin-top: 15%;
}

.btn-primary {
	color: white;
	background-color: #ff6c26;
	padding: 15px;
	border: 2px solid #ff6c26;
	border-radius: 20px;
	transition: background-color 0.5s;
	box-shadow: 1px 5px 10px #00000040;
	text-decoration: none;
}

.btn-primary:hover {
	color: #ff6c26;
	background-color: white;
	border: 2px solid #ff6c26;
}


/*						MAIN PAGE
----------------------------------------------------*/

h2 {
	padding-top: 5%;
	font-size: 32px;
	text-align: center;
	color: #4B4B4B;
}

.aboutme {
	white-space: pre-line;
	padding-top: ;
	font-size: 18px;
	text-align: center;
	line-height: 150%;
	width: 95%;
	/* margin: 0 auto 0 5%; */
	margin: auto;
	color: #4B4B4B;
}

.aboutme>a,
.subtext>a {
	color: #ff6c26;
}

.aboutme>a:hover,
.subtext>a:hover {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.skills-container {
	display: grid;
	margin: 5% auto;
	width: 90%;
	justify-items: center;
}

h3 {
	color: var(--grey-color);
	font-size: 24px;
	text-align: center;
}

.skills-container>.item-container {
	margin-top: 70px;
}

.item-container {
	display: inline-block;
	margin-bottom: 50px;
	/* justify-items: center;
	align-items: center; */
}

.item-container>img {
	display: block;
	margin: auto;
}

.subtext {
	color: #4B4B4B;
	text-align: center;
	white-space: pre-line;
}

.center {}

.projects {
	margin-top: 3%;
}

.projects>h2 {
	padding: 0;
	margin: auto;
	color: #4B4B4B;
	text-align: center;
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.projectImg {
	max-width: 60%;
	margin: auto;
	display: block;
}

h4 {
	margin: 0 0 10px 0;
	color: #ff6C26;
	text-align: center;
}

.subtext.project {
	display: block;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	width: 90%;
}

#contact {
	margin-bottom: 50px;
}

.outer-modal {
	display: none;
	position: fixed;
	z-index: 3;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.modal-content img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*					DESKTOP DESIGN
----------------------------------------------------*/

@media screen and (min-width: 1000px) {
	/*					HEADER
----------------------------------------------------*/
	nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	nav>ul>li {
		text-align: left;
	}
	#logo {
		text-align: left;
	}
	#logo>img {
		margin-left: 28%;
	}
	nav>ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	ul {
		font-weight: 600;
		font-size: 24px;
		padding: 0;
	}
	li {
		list-style-type: none;
	}
	a {
		text-decoration: none;
		color: white;
	}
	ul>li {
		margin-bottom: 20px;
	}
	ul>li>a {
		transition: color 0.5s;
	}
	ul>li>a:hover {
		color: #ff6c26;
	}
	.greeting>h1 {
		font-size: 72px;
	}
	.subtitle {
		font-size: 26px;
	}
	.btn-container {
		margin-top: 8%;
	}
	.btn-primary {
		font-size: 20px;
		padding: 20px 50px;
	}
	/*					MAIN
----------------------------------------------------*/
	h2 {
		font-size: 64px;
		padding: 0;
		margin-bottom: 0;
	}
	.aboutme {
		font-size: 24px;
	}
	.subtext {
		font-size: 20px;
		white-space: pre-line;
	}
	.skills-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 5%;
	}
	h3 {
		font-size: 36px;
		margin: 90px 0 0 0;
	}
	.project-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: minmax(230px, 230px); 
		grid-gap: 50px;
		width: 80%;
		margin: 50px auto;
	}
	.item-container {
		/*margin-bottom: 100px;*/
	}
	h4 {
		font-size: 30px;
	}
	.center {
		text-align: center;
		display: grid;
		justify-content: center;
		position: relative;
		cursor: default;
		height: 100%;
	}
	.projectImg {
		max-width: 100%;
		transition: 1s all;
		height: 100%;
		object-fit: cover;
	}
	.center:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.9);
		opacity: 0;
		transition: 1s all;
	}
	.subtext.project {
		padding: 20px;
		position: absolute;
		opacity: 0;
		transition: all 1s;
		color: white;
		z-index: 1;
		font-size: 18px;
	}
	.center:hover .subtext.project {
		opacity: 1;
	}
	.center:hover:after {
		opacity: 1;
	}
	.btn-secondary {
		display: inline-block;
		margin-top: 10px;
		padding: 10px 30px;
		color: #ff6c26;
		background-color: white;
		border: 2px solid #ff6c26;
		border-radius: 25px;
		transition: background-color 0.5s;
	}
	.btn-secondary:hover {
		text-decoration: none !important;
		background-color: #ff6c26;
		color: white;
	}

	.modal-content img {
		display: inline-block;
		max-width: 20%;
	}
}